@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree';
}
@font-face {
    font-family: 'Figtree';
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}
body{
    background-color: #F2CA50;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#card-container{
margin: 110px auto;
border-radius: 10px;
box-shadow: 10px 10px;
height: 510px;
width: 390px;
background-color: white;
padding: 20px;
}
.content_imagem img{
    margin: 0 10px;
 border-radius: 10px;
}
.btn-learning{
    text-decoration: none;
    background-color: #F2CA50;
    color: black;
    padding: 5px;
    border-radius: 5%;
    
   
}
.container-text__desc {
    margin: 15px 10px 5%;
    line-height: 28px;
padding: 4px ;

}
.container-text__desc span{
color: rgb(147, 145, 145);
}
#container-avatar{
    display: flex;
    align-items: center;
  gap: 20px;
}